{% extends "dashboard/base.html" %}
{% block body %}
<div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
        <div class="container">
          <input class="form-control" id="listSearch" type="text" placeholder="Type something to search list items">
          <br>
          <ul class="list-group" id="myList">
            {% for product in products %}
                <li class="list-group-item">{{product}}</li>
            {%endfor%}
          </ul>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  console.log( "ready!" );
  $("#listSearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock body %}

