{% extends "dashboard/base.html" %}
{% block body %}

<div id="receipts" style="margin-top: 130px;">
    {{receipts}}
<div style="width: 100%;height: 100px;"></div>
</div>

<div class="w3-hide-medium w3-hide-small" style="position: fixed;bottom: 0;width: 100%;background-color: white;">
    <a href="/logout" style="color: #4866E6;float: left;"> <img src="{{ url_for('static', filename='img/logOut.svg') }}"></a>
    <h2 style="font-size: 20px;line-height: 250%;float: right;margin-right: 25px;">Lastest model update: <span style="color: #4866E6;">{{latestUpdate}} ago</span></h2>
    
</div>

{% endblock body %}

